body {
    font-family: sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #000000;
    padding-top: 100px;
  }

  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }

  .toggle-btn {
    background-color: #eee;
    border: none;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
  }

  .toggle-circle {
    background-color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }

  body.dark-mode .toggle-btn {
    background-color: #333;
  }

  body.dark-mode .toggle-circle {
    left: 32px;
  }

  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
